
html,body{
    background-image: url("https://i1.wp.com/angelamariemade.com/wp-content/uploads/2017/09/Farm-Table-Makeover-IMG_6388.jpg?resize=500%2C750&ssl=1");
    background-size: auto;
    height: 100%;
    width : 100%;
}

.main {
    background-image: url("https://i.ytimg.com/vi/w3Q7TPoApX4/maxresdefault.jpg"); 
    background-size: auto;
    height: 100%;
    width : 100%;

}

.accordion {
    background-color: #eee;
    color: #00ADB5;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

h1,h2,button{
    font-style:  "normal";
    font-family: "Times New Roman";
}

tr{
    font-style: normal;
}

#loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
  /* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
    display: none;
    text-align: center;

}


#tables{
  text-align : center; 
}