{% load static %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>story6</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/v4-shims.js"></script>
    <script src="{% static 'story6/style.js' %}"></script>
    <link rel="stylesheet" type="text/css" href={% static "story6/style.css" %}>
    <link href='https://fonts.googleapis.com/css?family=Prata' rel='stylesheet'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>


<body onload="myFunction()" style="margin:0;">
    <div id="loader"></div>

        <div style="display:none;" id="myDiv" class="animate-bottom">
            <h1 class="main-title">Hello, Apa kabar?</h1>
            <button class="changetheme">change theme</button>
            <br>
            <a href="profil.html">
                <button  type="button" class="btn btn-dark">Profil</button>
            </a>

            <form id="form" method="POST" action="{% url 'add_status' %}">
                <h2>Masukkan status</h2>
                    {% csrf_token %}
                    {{ stats }}
                <br>
                <input id="submit" type="submit" class="btn btn-secondary" value="Submit">
                <br>
            </form>


            <div style="margin: 5% 20%">
                <h2>My Status</h2>
                <div style = "width: 50%">
                    <table class="table" border="#0000" style="width: 100%">
                        <tr background-color="#ffff">
                            <th style="width: 50%">Status</th>
                            <th style="width: 80%">Date</th>
                        </tr>
                            {%for e in status%}
                        <tr background-color=#ffff>
                            <td>{{e.description}}</td>
                            <td>{{e.created_date}}</td>
                        </tr>
                        {%endfor%}
                    </table>
                </div>
            </div>

            <h2>About Me</h2>
            <button class="accordion">Section 1</button>
                <div class="panel">
                    <p>Lorem ipsum...</p>
                </div>

            <button class="accordion">Section 2</button>
                <div class="panel">
                    <p>Lorem ipsum...</p>
                </div>

            <button class="accordion">Section 3</button>
                <div class="panel">
                    <p>Lorem ipsum...</p>
                </div>
            <br><br>
    
        </div>
</body>

</html>