{% load static %}
{% block content %}

<ul class="navbar-nav">

          <li class="nav-item">
            <a class="nav-link" href="newprofil.html">Profil</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="newtentang.html">Tentang</a>
          </li
		  
		  <li class="nav-item">
		  <a class="nav-link" href="register_f.html">Register</a>
		  </li>
		  
		  <li class="nav-item">
		  <a class="nav-link" href="register_r.html">Kegiatan</a>
		  </li>
</ul>
{% endblock %}
		