{% load static %}
<!DOCTYPE html>

<html lang="en"></html>
	
<head>
<title>My Home</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href={% static "/style.css" %}>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="{% static '/style.js' %}"></script>
</head>

<body>
	
<!-- Carousel -->
<div class="container-fluid">
	<!-- Images -->
	<div class = "carousel-inner">
		<div class="carousel-image">
			<img url("https://i1.wp.com/angelamariemade.com/wp-content/uploads/2017/09/Farm-Table-Makeover-IMG_6388.jpg?resize=500%2C750&ssl=1">
		</div>
		<div class="col-md-12">
			<img src="https://scontent.fcgk5-1.fna.fbcdn.net/v/t1.0-9/41278008_2064343973616930_4591613252546330624_n.jpg?_nc_cat=107&_nc_eui2=AeFbvR-0OfwDej48zhXjTwLDYYJ6yfM8suDkyzqa37idmcAvaL6g3FIv7_ZDmUA5K9rfwmhmVen_nMQtl-YwV-KNTyUQgFhl6dD97Y20eulq4A&_nc_ht=scontent.fcgk5-1.fna&oh=401ac1568d2bf3b7db3146ccc4ace6df&oe=5C77B450" class="mx-auto d-block" width= 400px height= 303px>
		</div>
	<div class="container-fluid padding">
    <br>
		<div class= "row padding">
			<div class="col-md-12 ">
				<h2 class= "text-center">Meiska Kurniawati</h2>
				<h2 class= "text-center">Sistem Informasi 17</h2>
				<h3 class="text-center">Bukittinggi, 05 Mei 1999</h3>
				<br>
			</div>
		</div>
	</div>
	</div>
</div>
	
	
	

<script>

</script>

</body>
</html>