{% load static%}
<html>
<head>
<title>Story9</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href={% static "/style.css" %}>
  <script src="{% static '/style.js' %}"></script>
</head>

<h1 sytle="text-align:center">List Book</h1>
<div class="container-fluid">
  <div class="form-group">
      <h2>search book</h2>
      <input type="text" class="form-control" id="search" onkeyup="myFunction()" placeholder="Search for book..">
  </div>
  <button type="submit" class="btn btn-default">search</button>
</div>

<div style="margin: 5% 5%">
    <h2 id="checkFav" style="text-align: right;"><i class='fa fa-star'style = 'color: : blue'></i> 0 Favorite </h2>
    	<div class="table-responsive">
    		<table class = "table" border = "#0000" id = "tables" style="width : 100% margin: 20 20;">			
			</table>
		</div>
</div>

</html>
